[user]
  email = bip.thelin@gmail.com
  name = Bip Thelin
  signingkey = 0x65C323A142C7590A
[push]
  default = simple
[commit]
  gpgsign = true
[gpg]
  program = gpg
[core]
  editor = nvim
[pull]
  rebase = true
[url "git@github.com:/kivra"]
  insteadOf = https://github.com/kivra
[alias]
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

